<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta charset="ISO-8859-1"></meta>
	<title>Obtener datos personales</title>
	
	<!-- Librerias -->
	<script type="text/javascript" src="js/libs/angular.min.js"></script>

	<!-- Modulos -->
	<script type="text/javascript" src="js/ejercApp.js"></script>
	
	<!-- Controladores -->
	<script src="js/ejercCtrl.js"></script>

</head>
<body>
	<div data-ng-app="ejercApp">
		<div data-ng-controller="ejercCtrl">
			<div>Ingrese un identificador:</div>
			<!-- TODO: Completar layout como el indicado en img/pantalla.png -->
			<button data-ng-click="obtenerDatosServidorGET()">Obtener datos por GET</button>
			<button data-ng-click="obtenerDatosServidorPOST()">Obtener datos por POST</button>
		</div>
	</div>
</body>
</html>